@media (max-height: 900px) {
	@media (min-width: 1024px) {
		.content-main-img {
			img {
				display: none;
			}
		}
		.content.main-content {
			.shar {
			    display: block;
			    position: absolute;
			    bottom: -101px;
			    right: -98px;
			}
			.form-registration {
			    margin-top: 0; 
			    .btn-red {
				    position: absolute;
				    right: 34%;
				    top: 6px;
				}
			}
			.content-block {
				padding: 0;
				position: relative;
				max-width: auto;
			    padding-right: 40%;
	    		text-align: left;
			}
			.el2 {
				display: block;
	        	position: absolute;
			    left: 0;
			    top: 0;
			    z-index: 2;
			    width: 218px;
			}
			.shar {
			    display: block;
			    position: absolute;
			    bottom: -69px;
			    right: -47px;
			    width: 22%;
			}
			.ico-scroll {
			    position: absolute;
			    bottom: 0px;
			    left: 50%;
			    margin-left: -41px;
			}
			.title_form_registration {
			    font-size: 40px;
			}
		}
	}	
	@media (min-width: 1024px) and (max-width: 1200px) {
		.content.main-content {
			.content-block {
			    padding: 0;
			    position: relative;
			    max-width: auto;
			    padding-right: 33%;
			    text-align: left;
			}
			.form-registration .btn-red {
			    position: absolute;
			    right: 15%;
			    top: 6px;
			}
			.shar {
			    display: block;
			    position: absolute;
			    bottom: -69px;
			    right: -64px;
			    width: 22%;
			}
		}
	}
}
.main-content {
	.prizes-blocks .prize-4 {
	    bottom: -57px;
	    left: -56px;
	}
}